@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family: 'Oswald', sans-serif;
}

.carousel-item img {
  height: 100vh;
  width: 100vw;

}

.sizecontrol {
  height: 50vh;
  overflow: hidden;
}

.header {
  height: 30vh;
  margin: 0 auto;
  width: 100%;
  position: relative;
  max-width: 960px;
}

.Media {
  border: 1px solid purple;
  border-radius: 20px;
  height: 300px;
  margin: 100px;
  padding: 20px;
  text-align: center;
}

.Media p {
  color: purple;
  font-size: 20px;
}
.events {
  max-width: 60%;
  margin: 0 auto;


}

.header-container {
  position: relative;
  margin: 0 auto;
}


.header-nav {
  position: absolute;
  width: 100%;
}
.left-float {
  float: left;
}
.header-nav ul li {
    float: left;
    display: inline;
    width: 11.25%;
    padding: 0 1%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    font-size: 1em;
    font-weight: 600;
    color: #333;
}
.things {

}

.thing {
  display: inline-block;
  width: 32%;
  padding: 2%;
  height: 500px;
  overflow: scroll;
}
.sd-logo {
    height: 120px;
    width: 150px;
    margin: auto;
    top: 2vh;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: white;
    border-radius: 20%;
}
.sd-logo img {
  max-height: 120px;
  border-radius: 50%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}

.navbar-default {
  background-color: white;
  border: none;
  min-height: 120px;
  margin: none;
  color: white;
}
.nav li a a {
  color: #C0B283;
  text-shadow: 2px 2px #373737;
  font-size: 35px;
}
.collapse ul a {
  color: #C0B283;
  font-size: 35px;
  text-shadow: 2px 2px #373737;
  margin-left: 10px;
  margin-right: 10px;
}
.left-nav-stuff {
  max-width: 44%;
}
.right-nav-stuff {
  max-width: 46%;
}
@media only screen and (max-width: 1200px) and (min-width: 1000px)  {
  .nav li a a {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 1000px)  {
  .nav li a a {
    font-size: 26px;
  }
}

.navbar-default .container {
  padding-left: 11vw;
  padding-right: 11vw;
  font-size: 2em;
}

.divider {
  border-top: 3px solid #14295B;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

.divider2 {
  border-top: 1px solid #14295B;
  margin: 0;
  padding: 0;
}
