@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family: 'Oswald', sans-serif;
  background: darkcyan;
}
.blackBackground img {
  background-color: black;
}

.carousel-item img {
  height: 100vh;
  width: 100vw;

}

.PressTitle {
  font-size: 5em;
  color: purple;
  text-align: center;
  margin-bottom: 10%;
}

.sizecontrol {
  height: 50vh;
  overflow: hidden;
}

.header {
  height: 30vh;
  margin: 0 auto;
  width: 100%;
  position: relative;
  max-width: 960px;
}

.header-container {
  position: relative;
  margin: 0 auto;
}


.header-nav {
  position: absolute;
  width: 100%;
}
.left-float {
  float: left;
}
.header-nav ul li {
    float: left;
    display: inline;
    width: 11.25%;
    padding: 0 1%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    font-size: 1em;
    font-weight: 600;
    color: white;
}
.sd-logo {
    height: 120px;
    width: 150px;
    margin: auto;
    top: 2vh;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 20%;
}
.sd-logo img {
  max-height: 120px;
  border-radius: 50%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}

.navbar-default {
  background-color: darkcyan;
  border: none;
  min-height: 120px;
  margin: none;
  color: white;
}
.nav li a a {
  color: white
}

.thumbnail {
  padding: 10px;
}

.navbar-default .container {
  padding-left: 11vw;
  padding-right: 11vw;
  font-size: 2em;
}

.divider {
  border-top: 3px solid #14295B;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

.divider2 {
  border-top: 1px solid #14295B;
  margin: 0;
  padding: 0;
}
